body {
  background-color: #2b2b2b;
}

.navbar {
  background-color: #444444;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  position: relative;
}

.navbar-center {
  grid-column: 2;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  padding: 0 2rem;
  text-align: center;
}

.left-b {
  grid-column: 1;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.right-b {
  grid-column: 3;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.navbar-button {
  max-width: 100px;
}

.navbar-button a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar-button a:hover {
  color: #f1a035;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  gap: 1rem; 
}

.page-container section {
  flex: 1;
  min-width: 333px;
}

.buttons-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
  margin-top: 30px;
}

.game-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
  text-transform: capitalize;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: #444444;
  overflow: hidden;
}

.game-button:hover {
  color: #f1a035;
}

.button-image-container {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.button-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.button-text {
  width: 100%;
  text-align: center;
  padding: 8px 0;
  background-color: #414141;
}

h2 {
  font-size: 30px;
  color: #ffffff;
}

h1 {
  font-size: 40px;
  color: #ffffff;
}

p {
  font-size: 20px;
  color: #ffffff;
}
